@model SmartNerd.Models.Admin.ReportPage
@{
    ViewBag.Title = "Admin Home";
}

<h2>Admin Home</h2>

<p>Here is the daily summary.</p>
<canvas id="myChart" width="400" height="400"></canvas>

<br/>
<p>Frequent Items</p>
<canvas id="frequent" width="400" height="400"></canvas>

<script type="text/javascript">
    $(document).ready(function () {
        $("#myChart").width($('#myChart').parent().width() + 'px').height('300px');
        // Get context with jQuery - using jQuery's .get() method.
        var ctx = $("#myChart").get(0).getContext("2d");
        // This will get the first returned node in the jQuery collection.
        var myNewChart = new Chart(ctx);

        var data = {
            labels: [
                @foreach(string day in Model.DailyReport.Select(day => day.DatePlaced.ToShortDateString()))
            {
                @:"@day",
                }
            ],
            datasets: [{
                    label: "Daily Total($)",
                    fillColor: "rgba(110,110,180,0.5)",
                    strokeColor: "rgba(220,220,220,0.8)",
                    data: [

                        @foreach(decimal sum in Model.DailyReport.Select(day => day.DailyTotal))
                    {
                        @:"@sum",
                        }
                    ]
                },
                {
                    label: "Number of Orders",
                    fillColor: "rgba(180,110,110,0.5)",
                    strokeColor: "rgba(220,220,220,0.8)",
                    data: [
                        
                        @foreach(decimal sum in Model.DailyReport.Select(day => day.NumberOfOrders))
                    {
                        @:"@sum",
                    }
                    ]
                }
            ]
        };
        var options = {
            //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero: true,

            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,

            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",

            //Number - Width of the grid lines
            scaleGridLineWidth: 1,

            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,

            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,

            //Boolean - If there is a stroke on each bar
            barShowStroke: true,

            //Number - Pixel width of the bar stroke
            barStrokeWidth: 2,

            //Number - Spacing between each of the X value sets
            barValueSpacing: 5,

            //Number - Spacing between data sets within X values
            barDatasetSpacing: 1,

            //String - A legend template
            tooltipTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%=datasets[i].title%><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
        multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>"

        };

        myNewChart.Bar(data, options);

        $("#frequent").width($('#frequent').parent().width() + 'px').height('300px');
        // Get context with jQuery - using jQuery's .get() method.
        var ctx = $("#frequent  ").get(0).getContext("2d");
        // This will get the first returned node in the jQuery collection.
        var freqChart = new Chart(ctx);

        var data = {
            labels: [
                @foreach(string day in Model.FrequentProducts.Select(day => day.Name))
            {
            @:"@day",
        }
    ],
        datasets: [{
            label: "Total Revenue($)",
            fillColor: "rgba(110,110,180,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            data: [

                @foreach(decimal sum in Model.FrequentProducts.Select(day => day.TotalRevenue))
                {
            @:"@sum",
        }
    ]
    },
    {
    label: "Total Number Ordered",
    fillColor: "rgba(180,110,110,0.5)",
    strokeColor: "rgba(220,220,220,0.8)",
    data: [
                        
        @foreach(decimal sum in Model.FrequentProducts.Select(day => day.NumberOrdered))
    {
    @:"@sum",
    }
    ]
    }
    ]
        };

        freqChart.Bar(data, options);
    });
</script>