@model SmartNerd.Models.CartViewModels.AddressPage
@{
    ViewBag.Title = "Address";
}
@using(Html.BeginForm("Address", "Cart", FormMethod.Post))
{
    <style>
        input
        {
            width: 320px!important;
        }
    </style>
<h2>Address</h2>
    <p>Please select an address to mail your order to.</p>

    for (int i = 0; i < Model.MailingAddresses.Count; i++)
    {
        <div class="divAddress">
            <table class="table-address">
                <tr>
                    <td>@Html.LabelFor(m => m.MailingAddresses[i].FullName)</td>
                    <td>@Html.DisplayFor(m => m.MailingAddresses[i].FullName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.MailingAddresses[i].Line1)</td>
                    <td>@Html.DisplayFor(m => m.MailingAddresses[i].Line1)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.MailingAddresses[i].Line2)</td>
                    <td>@Html.DisplayFor(m => m.MailingAddresses[i].Line2)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.MailingAddresses[i].City)</td>
                    <td>@Html.DisplayFor(m => m.MailingAddresses[i].City)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.MailingAddresses[i].County)</td>
                    <td>@Html.DisplayFor(m => m.MailingAddresses[i].County)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.MailingAddresses[i].StateOrProvince)</td>
                    <td>@Html.DisplayFor(m => m.MailingAddresses[i].StateOrProvince)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.MailingAddresses[i].ZipCode)</td>
                    <td>@Html.DisplayFor(m => m.MailingAddresses[i].ZipCode)</td>
                </tr>
            </table>
            <button type="submit" name="AddressToUse" class="btn btn-primary" value="@Model.MailingAddresses[i].AddressID">Use this address</button>
            <a href="@Url.Action("RemoveAddress", "Account", new { addressID = Model.MailingAddresses[i].AddressID, returnUrl = Url.Action("Address", "Cart") })" class="btn btn-danger">Remove</a>
        </div>
    }

        <div class="" id="newAddress">
            <h3>New Address</h3>
            <div class="form-group">
                @Html.LabelFor(m => m.CartAddress.FullName, new { @class = "col-sm-3 control-label"})
                @Html.TextBoxFor(m => m.CartAddress.FullName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CartAddress.Line1, new { @class = "col-sm-3 control-label" })
                @Html.TextBoxFor(m => m.CartAddress.Line1, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CartAddress.Line2, new { @class = "col-sm-3 control-label" })
                @Html.TextBoxFor(m => m.CartAddress.Line2, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CartAddress.City, new { @class = "col-sm-3 control-label" })
                @Html.TextBoxFor(m => m.CartAddress.City, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CartAddress.County, new { @class = "col-sm-3 control-label" })
                @Html.TextBoxFor(m => m.CartAddress.County, new { @class = "form-control", maxlength = 2 })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CartAddress.StateOrProvince, new { @class = "col-sm-3 control-label" })
                @Html.TextBoxFor(m => m.CartAddress.StateOrProvince, new { @class = "form-control", maxlength = 2 })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CartAddress.ZipCode, new { @class = "col-sm-3 control-label" })
                @Html.TextBoxFor(m => m.CartAddress.ZipCode, new { @class = "form-control" })
            </div>
            <div class="form-group text-right">
                <div id="saveAddress">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.CheckBoxFor(m => m.SaveAddress);
                        
                        @: @Html.LabelFor(m => m.SaveAddress, "Save this address to your account?")
                    }
                </div>
                <button type="submit" name="AddressToUse" value="-1" class="btn btn-primary">Ship to this address</button>
            </div>
        </div>
}
<div style="margin-top: 20px;">
    <a href="@Url.Action("Checkout", "Cart")" class="btn btn-warning">&lt; Back To Cart </a>
</div>