@model SmartNerd.Models.Menu.Product
@{
    ViewBag.Title = Model.ProductName;
}
<div id="productPage">
    @using (Html.BeginForm("Product", "Menu", FormMethod.Post))
    {
        
        <img id="productPageImg" src="@SmartNerd.Classes.Util.ProductUrl(Model.ProductID)" alt="@Model.ProductName" />

        <div id="productDetails">
            <h2>@Model.ProductName</h2>

            @Html.Raw(Model.Description)
            <br /><br/>
            $@Model.Price

            <br/><br/>
            Qty: @Html.TextBoxFor(m => m.Quantity, new { id = "productEditQty"})
            <input type="submit" value="Add to Cart" />
        </div>
    }
    <div class="clear"></div>
</div>