<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Smart Nerd</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <div id="aboveNav">
        <div class="container">
            <a href="@Url.Action("Index", "Menu")"><img src="/Images/logo.png" /></a>
</div>
    </div>
    <div class="navbar navbar-inverse container">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Menu")" class="navbar-brand">@*Smart Nerd*@</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if(User.IsInRole("Administrator")) {
                        <li>@Html.ActionLink("Home","Index","Admin")</li>
                        <li>@Html.ActionLink("Browse","Browse","Admin")</li>
                        <li>@Html.ActionLink("Search","Search","Admin")</li>
                        <li>@Html.ActionLink("Create Product","CreateProduct","Admin")</li>
                    } else {
                        <li>@*@Html.ActionLink("Home","Index","Home")*@</li>
                        <li>@Html.ActionLink("Browse","Index","Menu")</li>
                        <li>@Html.ActionLink("Search","Search","Menu")</li>
                        <li>@Html.ActionLink("About","About","Home")</li>
                        <li>@Html.ActionLink("Contact","Contact","Home")</li>
                        <li>@Html.ActionLink("View Cart","Checkout","Cart")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Smart Nerd</p>
            @*@if(!User.IsInRole("Administrator")) {
                @Newtonsoft.Json.JsonConvert.SerializeObject(((SmartNerd.Controllers.BaseController)this.ViewContext.Controller).Cart);
            }*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts",required: false)
</body>
</html>
